<div class="text-center text-gray-600">
  <h2 class="text-lg mb-4">No tienes un equipo asignado.</h2>
  <div class="flex md:flex-row flex-col justify-center items-center gap-x-5 gap-y-2">
    <a routerLink="/dashboard/team/form"
      class="p-12 border-dashed border-2 border-gray-300 rounded-lg text-gray-600 hover:bg-gray-50 transition-colors duration-200 flex items-center justify-center w-full md:w-fit">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block mr-2" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
      </svg>
      <span class="font-semibold">Crea un equipo</span>
    </a>
    <a routerLink="/dashboard/team/list"
      class="p-12 border-dashed border-2 border-gray-300 rounded-lg text-gray-600 hover:bg-gray-50 transition-colors duration-200 flex items-center justify-center w-full md:w-fit">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block mr-2" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M21 21l-4.35-4.35M11 18a7 7 0 100-14 7 7 0 000 14z" />
      </svg>
      <span class="font-semibold">Buscar un equipo</span>
    </a>
  </div>
</div>