<section>
  <!-- Header -->
  <header class="flex items-center justify-between mb-4">
    <button (click)="prevMonth()" class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300">
      &#8592;
    </button>
    <span class="text-lg font-bold">{{ mounths[currentMonth] }} - {{ currentYear }}</span>
    <button (click)="nextMonth()" class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300">
      &#8594;
    </button>
  </header>

  <!-- Desktop calendar -->
  <div class="hidden lg:block">
    <!-- Day names -->
    <div class="grid grid-cols-7 text-center font-semibold bg-transparent rounded-t-lg">
      @for (dayName of ['Dom','Lun','Mar','Mié','Jue','Vie','Sáb']; track $index) {
      <div class="py-2">{{ dayName }}</div>
      }
    </div>

    <div class="grid grid-cols-7 gap-3">
      @for (day of calendarDays; track $index) {
      <div
        class="border border-gray-200 p-2 h-36 flex flex-col overflow-hidden rounded-xl cursor-pointer hover:bg-gray-100"
        [class.bg-white]="day.date.getMonth() == currentMonth"
        (click)="openDayModal(day)">
        <div class="text-sm font-bold">{{ day.date.getDate() }}</div>

        <!-- Reservations preview -->
        <!-- Reservations preview -->
        <div class="mt-1 space-y-1 overflow-y-auto">
          @for (res of day.reservations.slice(0, 2); track $index) {
          <div class="text-xs px-1 py-0.5 rounded truncate flex flex-col" [ngClass]="{
                'bg-green-200 text-green-800': res.status === StatusReservation.ACTIVE,
                'bg-yellow-200 text-yellow-800': res.status === StatusReservation.FINISHED,
                'bg-red-200 text-red-800': res.status === StatusReservation.CANCELED
              }">
            <span>{{ res.user?.firstName }} {{ res.user?.lastName }}</span>
            <span>{{ res.startTime | timeFormat }} - {{ res.endTime | timeFormat }}</span>
          </div>
          }

          <!-- Mensaje de "x más" -->
          @if (day.reservations.length > 2) {
          <div class="text-xs text-gray-500 italic">
            {{ day.reservations.length - 2 }} más...
          </div>
          }
        </div>
      </div>
      }
    </div>
  </div>

  <!-- Mobile list view -->
  <!-- <div class="lg:hidden space-y-3">
    @for (day of calendarDays; track $index) {
    <div class="border rounded-lg p-3" [class.bg-gray-50]="day.date.getMonth() !== currentMonth">
      <div class="flex justify-between items-center mb-2">
        <span class="font-bold text-sm">
          {{ day.date | date : 'EEEE d MMMM' }}
        </span>
        <span class="text-xs text-gray-500">{{ day.reservations.length }} reservas</span>
      </div>

      @if (day.reservations.length) {
      <div class="space-y-1">
        @for (res of day.reservations; track res.id) {
        <div
          class="text-xs px-2 py-1 rounded cursor-pointer"
          [ngClass]="{
            'bg-green-200 text-green-800': res.status === StatusReservation.ACTIVE,
            'bg-yellow-200 text-yellow-800': res.status === StatusReservation.FINISHED,
            'bg-red-200 text-red-800': res.status === StatusReservation.CANCELED
          }"
          (click)="openModal(res)">
          {{ res.user?.firstName + ' ' + res.user?.lastName }}
        </div>
        }
      </div>
      } @else {
      <p class="text-xs text-gray-400">Sin reservas</p>
      }
    </div>
    }
  </div> -->
</section>

@if (showDayModal) {
<div class="fixed inset-0 z-50 flex justify-end bg-black/40 backdrop-blur-sm transition-all">
  <div
    class="bg-white w-full sm:w-96 h-full shadow-2xl transform translate-x-0 transition-transform duration-300 animate-slide-in-right overflow-y-auto p-6 relative">
    <button
      (click)="closeDayModal()"
      class="absolute top-3 right-4 text-gray-400 hover:text-red-500 text-2xl">
      &times;
    </button>

    <h2 class="text-xl font-medium text-primary mb-4">Reservas activas del día {{ selectedDate | date : 'shortDate' }}</h2>

    @if (selectedDayReservations.length) {
    <div class="space-y-4">
      @for (res of selectedDayReservations; track res.id) {
      <div class="border p-3 rounded-lg">
        <p class="font-medium">{{ res.user?.firstName }} {{ res.user?.lastName }}</p>
        <p class="text-sm text-gray-500">{{ res.user?.email }}</p>
        <p class="text-sm text-gray-500">{{ res.user?.cellphone }}</p>
        <p class="mt-2">
          <span class="font-medium">Hora:</span>
          {{ res.startTime | timeFormat }} - {{ res.endTime | timeFormat }}
        </p>
        <p>
          <span class="font-medium">Duración:</span>
          {{ res.hours }} hora(s)
        </p>
      </div>
      }
    </div>
    } @else {
    <p class="text-gray-500">No hay reservas para este día.</p>
    }
  </div>
</div>
}
