<app-layout [title]="'Mi cancha'" [subtitle]="'Aquí puedes ver los detalles de la cancha que has registrado.'"
  [loading]="loading">
  <div loading>
    <p class="text-gray-200 text-xl">Cargando detalles...</p>
  </div>
  @if (field) {
  <article class="bg-white/5 p-6 rounded-md shadow-md border border-gray-600 space-y-6">
    <app-field-detail-card [field]="field" />
    <div class="flex justify-end">
      <app-button text="Editar" icon="fa-solid fa-pen-to-square" [hasIcon]="true" color="yellow"
        [routerLink]="['/dashboard/field/form/' + field.id]"></app-button>
    </div>
  </article>
  } @else {
  <div class="text-center flex md:flex-row flex-col items-center mt-8 gap-6">
    <p class="text-lg text-gray-700">
      <i class="fa-solid fa-circle-exclamation text-yellow-600"></i>
      No tienes una cancha registrada.
    </p>
    <a routerLink="/dashboard/field/form"
      class="inline-flex items-center border-2 py-1 px-2 border-dashed border-gray-300 rounded-md text-gray-600 hover:bg-gray-300 transition-colors duration-300">
      <i class="fa-solid fa-plus mr-2"></i>
      <span class="font-medium tracking-wide">Registrar una nueva</span>
    </a>
  </div>
  }
</app-layout>
