<section [ngClass]="user ? 'bg-gray-100' : 'bg-white'">
  <div class="space-y-6 px-3 py-4 md:p-6" [ngClass]="{ 'max-w-7xl mx-auto': !user }">
    <header>
      @if (showHeader) {
      <h1 class="text-2xl md:text-3xl font-medium text-black tracking-tight">Canchas disponibles</h1>
      <p class="text-gray-600 mt-1 text-base">
        Explora las canchas disponibles y selecciona la que quieras para reservarla fácilmente.
      </p>
      } @else {
      <div class="w-full text-center border py-4 rounded-md shadow bg-gray-100 relative overflow-hidden">
        <h1 class="text-3xl font-medium text-gray-900 tracking-tight">Canchas disponibles</h1>
        <img src="/assets/ball.webp" class="absolute z-0 w-48 -bottom-32 -right-16 opacity-10 pointer-events-none"
          alt="Balon de futbol" />
      </div>
      }
    </header>
    @if (loading) {
    <div>
      <loading-field-list-component />
    </div>
    } @else {
    @if (fields.length === 0) {
    <div [ngClass]="user ? 'text-start' : 'text-center'">
      <span class="text-lg">No hay canchas disponibles.</span>
    </div>
    } @else {
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      @for (field of fields; track field.id) {
      <app-field-card [field]="field"></app-field-card>
      }
    </div>
    }
    }
  </div>
</section>
@if (showModal) {
<div class="fixed inset-0 z-50 flex items-center justify-center bg-black/40 backdrop-blur-sm transition-all px-3">
  <div
    class="bg-white w-full max-w-sm mx-auto rounded-md p-6 relative shadow-2xl animate__animated animate__fadeInUpBig text-center">
    <!-- <button
        (click)="closeModal()"
        class="absolute top-2 right-4 text-gray-400 hover:text-red-500 text-xl">
        &times;
      </button> -->
    <button (click)="closeModal()"
      class="absolute top-2 right-4 h-8 w-8 flex items-center justify-center rounded-full border border-gray-200 text-gray-600 hover:bg-gray-100 cursor-pointer transition-colors"
      aria-label="Cerrar modal">
      <i class="fa-solid fa-xmark"></i>
    </button>
    <div class="absolute -top-12 bg-white rounded-full w-56 p-6 left-1/2 -translate-x-1/2">
      <img src="/assets/logo_sin_fondo.webp" alt="Logo PlayMatch" class="w-full h-full object-cover" />
    </div>
    <span class="text-gray-700 text-lg font-semibold block mt-12 mb-4">
      Debes iniciar sesión para poder reservar una cancha.
    </span>
    <div class="flex items-center justify-center mt-4 gap-4">
      <app-button-action text="Iniciar sesión" icon="fa-solid fa-right-to-bracket" color="black" [hasIcon]="true"
        class="mt-4 w-full" (clicked)="goToLogin()"></app-button-action>
      <app-button-action text="Registrarse" icon="fa-solid fa-user-plus" color="primary" [hasIcon]="true"
        class="mt-4 w-full" (clicked)="goToRegister()"></app-button-action>
    </div>
  </div>
</div>
}