<section [ngClass]="user ? 'bg-gray-100' : 'bg-white py-5'">
  <div class="space-y-6 px-3 py-4 md:p-6" [ngClass]="{ 'max-w-7xl mx-auto': !user }">
    <header>
      @if (showHeader) {
        <h1 class="text-2xl md:text-3xl font-medium text-black tracking-tight">
          Canchas disponibles
        </h1>
        <p class="text-gray-600 mt-1 text-base">
          Explora las canchas disponibles y selecciona la que quieras para reservarla fácilmente.
        </p>
      } @else {
        <div
          class="w-full text-center border py-4 rounded-md shadow bg-gray-100 relative overflow-hidden mb-10">
          <h1 class="text-3xl font-medium text-gray-900 tracking-tight">Canchas disponibles</h1>
          <img
            src="/assets/ball.webp"
            class="absolute z-0 w-48 -bottom-32 -right-16 opacity-10 pointer-events-none"
            alt="Balon de futbol" />
        </div>
      }
    </header>
    @if (loading) {
      <div>
        <loading-field-list-component />
      </div>
    } @else {
      @if (fields.content.length === 0) {
        <div [ngClass]="user ? 'text-start' : 'text-center'">
          <span class="text-lg">No hay canchas disponibles.</span>
        </div>
      } @else {
        <div>

        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
          @for (field of fields.content; track field.id) {
            <app-field-card [field]="field"></app-field-card>
          }
        </div>
      }
    }
  </div>
</section>
