<section class="bg-white" [ngClass]="{ 'bg-gray-100': user }">
  <div class="space-y-6 p-6" [ngClass]="{ 'max-w-7xl mx-auto': !user }">
    <header>
      <h1 class="text-3xl font-medium text-black tracking-tight">Canchas disponibles</h1>
      @if (showHeader) {
      <p class="text-gray-600 mt-1 text-base">
        Explora las canchas disponibles y selecciona la que quieras para reservarla fácilmente.
      </p>
      }
    </header>
    @if (loading) {
    <div class="flex flex-col gap-3 justify-center items-center">
      <h2 class="text-lg text-gray-600">Cargando canchas...</h2>
      <div
        class="animate-spin rounded-full h-16 w-16 border-4 border-primary border-t-transparent mb-4"></div>
    </div>
    } @else { @if (fields.length === 0) {
    <div class="text-center">
      <h2 class="text-lg">No hay canchas disponibles.</h2>
    </div>
    } @else { @if (!user ||isUserPlayer(user)) {
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      @for (field of fields; track field.id) { @if (user) {
      <a
        (click)="makeReservation(field.id)"
        class="bg-white p-6 rounded-md shadow-md hover:shadow-lg transition-shadow duration-200 cursor-pointer">
        <img
          src="/assets/cancha.webp"
          alt="{{ field.name }}"
          class="w-full h-48 object-cover rounded-lg mb-4" />
        <h2 class="text-2xl font-semibold text-center mb-2">
          {{ field.name }}
        </h2>
        <hr class="mb-4" />
        <p class="text-gray-800 mb-2">
          <strong>Ciudad:</strong>
          {{ field.city }}
        </p>
        <p class="text-gray-800 mb-2">
          <strong>Dirección:</strong>
          {{ field.address }}
        </p>
        <p class="text-gray-800 mb-2">
          <strong>Precio por hora:</strong>
          {{ field.hourlyRate | moneyFormat }}
        </p>
        <p class="text-gray-800 mb-2">
          <strong>Horario:</strong>
          {{ field.openingHour | timeFormat }} -
          {{ field.closingHour | timeFormat }}
          <span
            class="font-semibold"
            [ngClass]="
              isFieldOpen(field.openingHour, field.closingHour) ? 'text-green-600' : 'text-red-600'
            ">
            {{
              isFieldOpen(field.openingHour, field.closingHour) ? 'Abierto ahora' : 'Cerrado ahora'
            }}
          </span>
        </p>
        <p class="text-gray-800 mb-2">
          <strong>Administrador:</strong>
          {{ field.admin?.firstName }} {{ field.admin?.lastName }}
        </p>
      </a>
      } @else {
      <article
        class="bg-gray-50 p-6 border rounded-md shadow-md hover:shadow-lg transition-shadow duration-200 cursor-default">
        <img
          src="/assets/cancha.webp"
          alt="{{ field.name }}"
          class="w-full h-48 object-cover rounded-lg mb-4" />
        <h2 class="text-2xl font-semibold text-center mb-2">
          {{ field.name }}
        </h2>
        <hr class="mb-4" />
        <p class="text-gray-800 mb-2">
          <strong>Ciudad:</strong>
          {{ field.city }}
        </p>
        <p class="text-gray-800 mb-2">
          <strong>Dirección:</strong>
          {{ field.address }}
        </p>
        <p class="text-gray-800 mb-2">
          <strong>Precio por hora:</strong>
          {{ field.hourlyRate | moneyFormat }}
        </p>
        <p class="text-gray-800 mb-2">
          <strong>Horario:</strong>
          {{ field.openingHour | timeFormat }} -
          {{ field.closingHour | timeFormat }}
          <span
            class="font-semibold"
            [ngClass]="
              isFieldOpen(field.openingHour, field.closingHour) ? 'text-green-600' : 'text-red-600'
            ">
            {{
              isFieldOpen(field.openingHour, field.closingHour) ? 'Abierto ahora' : 'Cerrado ahora'
            }}
          </span>
        </p>
        <p class="text-gray-800 mb-2">
          <strong>Administrador:</strong>
          {{ field.admin?.firstName }}
          {{ field.admin?.lastName }}
        </p>
        <div class="mt-4">
          <button-action (clicked)="openModal()" text="Reservar" color="primary"></button-action>
        </div>
      </article>
      } }
    </div>
    } } }
  </div>
</section>
@if (showModal) {
<div
  class="fixed inset-0 z-50 flex items-center justify-center bg-black/40 backdrop-blur-sm transition-all px-3">
  <div
    class="bg-white w-full max-w-sm mx-auto rounded-md p-6 relative shadow-2xl animate__animated animate__fadeInUpBig text-center">
    <button
      (click)="closeModal()"
      class="absolute top-2 right-4 text-gray-400 hover:text-red-500 text-xl">
      &times;
    </button>
    <div class="absolute -top-12 bg-white rounded-full w-56 p-6 left-1/2 -translate-x-1/2">
      <img
        src="/assets/logo_sin_fondo.webp"
        alt="Logo PlayMatch"
        class="w-full h-full object-cover" />
    </div>
    <span class="text-gray-700 text-lg font-semibold block mt-12 mb-4">
      Debes iniciar sesión para poder reservar una cancha.
    </span>
    <div class="flex items-center justify-center mt-4 gap-4">
      <button-action
        text="Iniciar sesión"
        icon="fa-solid fa-right-to-bracket"
        color="black"
        [hasIcon]="true"
        class="mt-4 w-full"
        [routerLink]="['/login']"></button-action>
      <button-action
        text="Registrarse"
        icon="fa-solid fa-user-plus"
        color="primary"
        [hasIcon]="true"
        class="mt-4 w-full"
        [routerLink]="['/register']"></button-action>
    </div>
  </div>
</div>
}
