<app-layout
  [title]="'Reservas'"
  [subtitle]="
    'Aquí puedes ver todas tus reservas, puedes filtrar por fecha y estado de la reserva.'
  "
  [loading]="loading">
  <div actions>
    @if (isReservationUser()) {
      <app-button
        [hasIcon]="true"
        icon="fa-solid fa-plus"
        text="Nueva reserva"
        color="primary"
        (clicked)="makeReservation()" />
    } @else {
      <app-button
        text="Filtrar"
        icon="fa-solid fa-filter"
        [hasIcon]="true"
        color="white"
        (clicked)="openModalFilters()" />
    }
  </div>
  <div loading>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
      @for (placeholder of placeholders; track $index) {
        <app-loading-reservation-card-component />
      }
    </div>
  </div>
  @if (filters().date || filters().status) {
    <div class="flex items-center gap-5">
      @if (filters().date) {
        <div class="bg-white px-2 py-1 rounded-lg border border-gray-300 text-sm">
          <p class="text-gray-600">
            Fecha:
            <span class="font-medium">{{ filters().date }}</span>
          </p>
        </div>
      }
      @if (filters().status) {
        <div class="bg-white px-2 py-1 rounded-lg border border-gray-300 text-sm">
          <p class="text-gray-600">
            Estado:
            <span class="font-medium">{{ filters().status | statusReservation }}</span>
          </p>
        </div>
      }
    </div>
  }
  @if (reservationList && reservationList.content.length > 0) {
    <div class="grid gap-6 xl:grid-cols-3 lg:grid-cols-2 grid-cols-1">
      @for (reservation of reservationList.content; track reservation.id) {
        <app-reservation-card
          [viewAsField]="isFieldView"
          [reservation]="reservation"
          [reservationBy]="reservationBy"
          [isUserAdmin]="isUserAdmin(user)"
          (loadReservations)="getReservations($event)" />
      }
    </div>
    <app-pagination
      [currentPage]="currentPage"
      [totalPages]="reservationList.totalPages || 1"
      (pageChange)="changePage($event)"></app-pagination>
  } @else {
    <p class="text-gray-600 text-sm">No se encontró ninguna reserva.</p>
  }
</app-layout>
@if (showModalFilters) {
  <app-reservation-filter
    [showModalFilters]="showModalFilters"
    [formFilter]="formFilter"
    (cleanFilter)="cleanFilter()"
    (filter)="filter($event)"
    (closed)="closeModalFilters()"></app-reservation-filter>
}
