<section class="bg-gray-800 min-h-screen">
  <div class="space-y-6 px-3 py-4 md:p-6" @slideInOut>
    <header class="flex justify-between items-center gap-8 mb-7">
      <div>
        <h1 class="text-xl md:text-4xl font-medium tracking-wide text-primary">{{ title }}</h1>
        <h2 class="text-gray-300 mt-1 text-sm md:text-base">
          {{ subtitle }}
        </h2>
      </div>
      <div>
        <ng-content select="[actions]"></ng-content>
      </div>
    </header>
    @if (loading) {
    <ng-content select="[loading]"></ng-content>
    } @else {
    <ng-content></ng-content>
    }
  </div>
</section>
