<section class="p-8 bg-gray-100 min-h-screen">
  <div class="max-w-6xl mx-auto space-y-8">
    <header class="bg-white p-6 rounded-xl shadow-md">
      <h1 class="text-2xl md:text-3xl font-bold text-primary">Solicitudes</h1>
      <p class="text-gray-600 mt-2 md:text-base text-sm">
        Aquí puedes ver las solicitudes.
      </p>
    </header>

    @if (applications.length === 0) {
    <div class="text-gray-500">
      No tienes solicitudes actualmente.
    </div>
    }

    @if (applications.length > 0) {
    <div class="grid gap-3 lg:grid-cols-3 md:grid-cols-2 grid-cols-1">
      @for (app of applications; track app.id) {
      <article
        class="relative rounded-xl shadow-md hover:shadow-lg transition-all p-5 bg-white border border-gray-100 animate-slide-down overflow-hidden">

        <!-- Badge de estado arriba a la derecha -->
        <span class="absolute top-4 right-4 text-xs font-semibold px-3 py-1 rounded-full text-nowrap border truncate"
          [ngClass]="{
              'bg-yellow-50 text-yellow-700 border-yellow-200': app.statusRequest === StatusRequest.PENDING,
              'bg-green-50 text-green-700 border-green-200': app.statusRequest === StatusRequest.ACCEPTED,
              'bg-red-50 text-red-700 border-red-200': app.statusRequest === StatusRequest.REJECTED
            }">
          {{ app.statusRequest | statusRequest }}
        </span>

        <div class="flex flex-col gap-1 mb-2">
          <p class="text-sm text-gray-500">
            {{ validateOwnership(app) ? 'Equipo' : 'Jugador' }}:
          </p>
          <p class="text-base font-medium text-gray-800">
            {{ validateOwnership(app) ? app.team.name : app.player.firstName + ' ' + app.player.lastName }}
          </p>  </div>

        <div class="flex flex-col gap-1 mb-2">
          <p class="text-sm text-gray-500">Descripción:</p>
          <p class="text-gray-700">{{ app.description }}</p>
        </div>

        <div class="flex flex-col gap-1">
          <p class="text-sm text-gray-500">Fecha:</p>
          <p class="text-gray-700">{{ app.applicationDate | date:'short' }}</p>
        </div>

        @if (isOwner && app.statusRequest === StatusRequest.PENDING) {
          <div class="flex gap-2 mt-6">
            <div class="flex-1">
              <button-action text="Aceptar" color="primary" (clicked)="handle(app.id, StatusRequest.ACCEPTED)">
              </button-action>
            </div>
            <div class="flex-1">
              <button-action text="Rechazar" color="red" (clicked)="handle(app.id, StatusRequest.REJECTED)">
              </button-action>
            </div>
          </div>
        }
      </article>


      }
    </div>
    }
  </div>
</section>