<section class="bg-gray-100">
  <div
    class="space-y-6"
    [ngClass]="{
      'p-6': !listOfDetailsField,
      'pb-12': !isFieldView
    }">
    @if (!listOfDetailsField) {
    <header class="flex items-center justify-between gap-x-8">
      <div>
        <h1 class="text-3xl font-medium text-black tracking-tight">Tus reservas</h1>
        <p class="text-gray-600 mt-1 text-base">
          Aquí puedes ver todas tus reservas ordenadas a más recientes.
        </p>
      </div>
      <div class="flex items-center gap-2">
        <div class="bg-white rounded-full shadow-md">
          <button-action
            text="Filtros"
            icon="fa-solid fa-filter"
            [hasIcon]="true"
            color="transparent"
            [disabled]="!reservationList || reservationList.content.length === 0 || calendarView"
            (clicked)="openModalFilters()"></button-action>
        </div>

        @if (isUserAdmin(user)) {
        <div class="md:flex items-center gap-1 bg-white rounded-full shadow-md hidden">
          <button-action
            [className]="!calendarView ? 'bg-gray-200 rounded-full' : ''"
            text="Lista"
            icon="fa-solid fa-list"
            [hasIcon]="true"
            color="transparent"
            (clicked)="showView('list')"></button-action>
          <button-action
            [className]="calendarView ? 'bg-gray-200 rounded-full' : ''"
            text="Calendario"
            icon="fa-solid fa-calendar"
            [hasIcon]="true"
            color="transparent"
            (clicked)="showView('calendar')"></button-action>
        </div>
        }
      </div>
    </header>
    } @if (!calendarView) {
    <div class="flex flex-col gap-6 w-full">
      <div class="flex-1">
        <!-- <h2 class="text-2xl font-medium mb-3">Lista de reservas</h2> -->
        @if (loading) {
        <loading-reservation-card-component />
        } @else { @if (reservationList && reservationList.content.length > 0) {
        <div
          class="grid gap-3"
          [ngClass]="
            listOfDetailsField ? 'grid-cols-1' : 'xl:grid-cols-3 lg:grid-cols-2 grid-cols-1'
          ">
          @if ((reservations || isUserAdmin(user)) || !isUserAdmin(user)) { @for (reservation of
          reservationList.content; track reservation.id) {
          <app-reservation-card
            [viewAsField]="isFieldView"
            [reservation]="reservation"
            [reservationBy]="reservationBy"
            [listOfDetailsField]="listOfDetailsField"
            [isUserAdmin]="isUserAdmin(user)"
            (loadReservations)="getReservations($event)" />
          } }
        </div>
        @if (!listOfDetailsField) {
        <div class="flex justify-center items-center gap-2 mt-6 w-full">
          <button
            class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300 cursor-pointer md:text-base text-sm"
            (click)="changePage(currentPage - 1)"
            [disabled]="currentPage === 0">
            ← Anterior
          </button>

          <span class="px-3 font-medium md:text-base text-xs">
            Página {{ currentPage + 1 }} de {{ reservationList.totalPages }}
          </span>

          <button
            class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300 cursor-pointer md:text-base text-sm"
            (click)="changePage(currentPage + 1)"
            [disabled]="currentPage + 1 >= reservationList.totalPages">
            Siguiente →
          </button>
        </div>
        } } @else { @if (calendarView) {
        <p class="text-gray-600">No se encontró ninguna reserva activa.</p>
        } @else {
        <p class="text-gray-600">No se encontró ninguna reserva.</p>
        } } }
      </div>
    </div>

    } @else {
    <div>
      <app-reservation-calendar
        [reservationList]="reservationList.content"
        [reservationBy]="reservationBy"></app-reservation-calendar>
    </div>
    } @if (isReservationUser()) {
    <button-action
      [className]="'fixed bottom-20 md:bottom-8 right-8 z-20'"
      [hasIcon]="true"
      icon="fa-solid fa-plus"
      [text]="'Hacer nueva reserva'"
      title="Hacer nueva reserva"
      color="primary"
      [bigButton]="isSmallScreen"
      (clicked)="makeReservation()" />
    }
  </div>
</section>
@if (showModalFilters) {
<div
  class="fixed inset-0 z-50 flex items-center justify-center bg-black/40 backdrop-blur-sm transition-all px-3">
  <div class="bg-white w-full max-w-md mx-auto rounded-md p-6 relative shadow-2xl animate-fade-in">
    <button
      (click)="closeModalFilters()"
      class="absolute top-2 right-4 text-gray-400 hover:text-red-500 text-xl">
      &times;
    </button>
    <span class="font-medium justify-start flex items-center gap-2 cursor-pointer select-none mb-4">
      <div class="flex items-center gap-2">
        <i class="fa-solid fa-filter"></i>
        Filtros de reserva
      </div>
      <i class="fa-solid transition-transform duration-200"></i>
    </span>
    <form [formGroup]="formFilter" (submit)="filter()" class="flex flex-col w-full gap-y-2">
      <div>
        <label class="text-sm">Fecha de reserva</label>
        <input
          type="date"
          formControlName="reservationDate"
          placeholder="Fecha de reserva"
          class="w-full px-4 py-2 rounded-lg border border-gray-300 bg-gray-50 focus:outline-none focus:ring-2 focus:ring-green-400" />
      </div>
      <div>
        <label class="text-sm">Estado</label>
        <select
          formControlName="status"
          class="w-full px-4 py-2 rounded-lg border border-gray-300 bg-gray-50 focus:outline-none focus:ring-2 focus:ring-green-400">
          <option value="">Todas</option>
          <option value="ACTIVE">Activa</option>
          <option value="CANCELED">Cancelada</option>
          <option value="FINISHED">Finalizada</option>
        </select>
      </div>
      <div class="flex items-center justify-end flex-row gap-2 mt-3">
        <button-action
          text="Limpiar"
          icon="fa-solid fa-eraser"
          [hasIcon]="true"
          color="red"
          (clicked)="cleanFilter()"
          title="Limpiar filtros"></button-action>

        <button-action
          text="Buscar"
          type="submit"
          icon="fa-solid fa-search"
          [hasIcon]="true"
          color="primary"
          title="Buscar reservas"></button-action>
      </div>
    </form>
  </div>
</div>
}
