<section class="p-8 bg-gray-100 min-h-screen">
  <div class="max-w-6xl mx-auto space-y-8">
    <div class="bg-white p-6 rounded-xl shadow-md">
      <h1 class="text-3xl font-bold text-primary">Detalles de tu equipo</h1>
      <p class="text-gray-600 mt-2">
        Aquí puedes ver tu equipo o gestionar si eres dueño de uno.
      </p>
    </div>
    <!-- Loading -->
    @if (loading) {
      <loading-component text="Cargando detalle del equipo" />
    } @else { @if (team && !teamEmpty) {
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
      <div
        class="flex flex-col md:flex-row items-center gap-8 md:gap-6 animate-slide-down p-6 bg-white rounded-lg shadow-md col-span-1 lg:col-span-2">
        <div class="shrink-0 md:w-32 md:h-32 w-20 h-20">
          <img src="/assets/team.webp" alt="{{ team.name }}" class="object-cover rounded-2xl shadow-md" />
        </div>

        <div class="flex-1 w-full md:w-auto text-center md:text-start">
          <h2 class="text-xl md:text-3xl font-bold text-gray-800 mb-2">
            {{ team.name }}
          </h2>
          <p class="text-sm text-gray-500 flex items-center justify-center md:justify-start gap-2">
            <i class="fa-solid fa-location-dot text-primary"></i>{{ team.city }} - {{ team.neighborhood }}
          </p>
        </div>

        <!-- Botones -->

        <div class="flex md:flex-col gap-2">
          @if (isOwnerTeam()) {
          <button-action text="Editar" icon="fa-solid fa-pen-to-square" [hasIcon]="true" color="yellow"
            [routerLink]="['/dashboard/team/form', team.id]">
          </button-action>
          <button-action text="Eliminar" icon="fa-solid fa-trash" [hasIcon]="true" color="red" (clicked)="deleteTeam()">
          </button-action>
          } @else {
          <button-action text="Salir de equipo" icon="fa-solid fa-door-open" [hasIcon]="true" color="red"
            (clicked)="leaveTeam()">
          </button-action>
          }
        </div>
      </div>

      <div class="bg-white p-6 rounded-lg shadow-md animate-slide-down space-y-4">
        <h3 class="text-2xl font-bold text-gray-800 mb-2">
          Plantilla ({{playerList.length || 0}}/{{team.maxPlayers}})
        </h3>

        <div>
          <app-player-table [players]="playerList"></app-player-table>
        </div>
      </div>

      <div class="bg-white p-6 rounded-lg shadow-md animate-slide-down">
        <div class="flex items-center justify-between mb-2">
          <h3 class="text-2xl font-bold text-gray-800 mb-2">
            Últimas reservas
          </h3>
          @if (reservationList.length > 0) {
          <div class="w-fit">
            <a class="text-primary hover:underline" [routerLink]="['/dashboard/reservation/list/team']">Ver todas</a>
          </div>
          }
        </div>
        <app-reservation-list [fromDetail]="'team'" [reservations]="reservationList"></app-reservation-list>
      </div>
    </div>
    } @else {
    <div>
      <app-without-team></app-without-team>
    </div>
    } }
  </div>
</section>