<section class="p-8 bg-gray-100 min-h-screen">
  <div class="max-w-6xl mx-auto space-y-8">
    <header class="bg-white p-6 rounded-xl shadow-md">
      <h1 class="text-2xl md:text-3xl font-bold text-primary">Detalles de tu equipo</h1>
      <p class="text-gray-600 mt-2 md:text-base text-sm">
        Aquí puedes ver tu equipo o gestionar si eres dueño de uno.
      </p>
    </header>
    <!-- Loading -->
    @if (loading) {
    <loading-component text="Cargando detalles del equipo" />
    } @else { @if (team && !teamEmpty) {
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
      <article
        class="flex flex-col md:flex-row items-center gap-8 md:gap-6 animate-slide-down p-6 bg-white rounded-xl shadow-md col-span-1 lg:col-span-2">
        <div class="group cursor-pointer relative overflow-hidden rounded-full"
          (click)="showImageModal = true">
          <img [src]="getImageUrl(team)" alt="{{ team.name }}" class="size-20 md:size-28 object-cover" />
          <div
            class="w-full h-full rounded-full bg-black/30 absolute inset-0 flex items-center justify-center flex-col gap-1 text-white text-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
            <i class="fa-solid fa-camera text-white text-3xl"></i>
            <span class="text-base leading-none">Cambiar imagen</span>
          </div>
        </div>

        <div class="flex-1 w-full md:w-auto text-center md:text-start">
          <h2 class="text-xl md:text-3xl font-bold text-gray-800 mb-2">
            {{ team.name }}
          </h2>
          <p class="text-sm text-gray-500 flex items-center justify-center md:justify-start gap-2">
            <i class="fa-solid fa-location-dot text-primary"></i>{{ team.city }} - {{ team.neighborhood }}
          </p>
        </div>

        <!-- Botones -->

        <div class="flex md:flex-col gap-2">
          @if (isOwnerTeam()) {
          <button-action text="Editar" icon="fa-solid fa-pen-to-square" [hasIcon]="true" color="yellow"
            [routerLink]="['/dashboard/team/form', team.id]">
          </button-action>
          <!-- <button-action text="Eliminar" icon="fa-solid fa-trash" [hasIcon]="true" color="red" (clicked)="deleteTeam()">
          </button-action> -->
          } @else {
          <button-action text="Salir de equipo" icon="fa-solid fa-door-open" [hasIcon]="true" color="red"
            (clicked)="leaveTeam()">
          </button-action>
          }
        </div>
      </article>

      <article class="bg-white p-6 rounded-xl shadow-md animate-slide-down space-y-4">
        <h3 class="text-2xl font-bold text-gray-800 mb-2">
          Plantilla ({{playerList.length || 0}}/{{team.maxPlayers}})
        </h3>

        <div>
          <app-player-table [players]="playerList"></app-player-table>
        </div>
      </article>

      <article class="bg-white p-6 rounded-xl shadow-md animate-slide-down">
        <div class="flex items-center justify-between mb-2">
          <h3 class="text-2xl font-bold text-gray-800 mb-2">
            Últimas reservas
          </h3>
          @if (reservationList.length > 0) {
          <div class="w-fit">
            <a class="text-primary hover:underline" [routerLink]="['/dashboard/reservation/list/team']">Ver todas</a>
          </div>
          }
        </div>
        <app-reservation-list [fromDetail]="'team'" [reservations]="reservationList"></app-reservation-list>
      </article>
    </div>
    } @else {
    <div>
      <app-without-team></app-without-team>
    </div>
    } }
  </div>
</section>
<!-- MODAL DE ACTUALIZACIÓN DE IMAGEN -->
@if (showImageModal) {
<div class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
  <div class="bg-white rounded-xl p-6 shadow-xl w-full max-w-md relative mx-5">
    <h2 class="text-xl font-bold text-gray-700 mb-4">
      Actualizar foto del equipo
    </h2>

    <input type="file" accept="image/*" (change)="onFileSelected($event)"
      class="block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-green-50 file:text-primary-700 hover:file:bg-green-100 cursor-pointer" />

    @if (imagePreview) {
    <div class="mt-4 text-center">
      <p class="text-sm text-gray-500 mb-2">Previsualización:</p>
      <img [src]="imagePreview" alt="Preview"
        class="w-32 h-32 object-cover rounded-full mx-auto border border-gray-300" />
    </div>
    }

    <div class="flex justify-center mt-6 space-x-2">
      <button-action (clicked)="onCancelImageUpload()" text="Cancelar" color="black"></button-action>
      <button-action (clicked)="onUploadImage()" color="primary" text="Actualizar imagen" [loading]="loadingImage"
        [disabled]="!selectedFile"></button-action>
    </div>
  </div>
</div>
}
