<app-layout
  [title]="'Jugadores disponibles'"
  [subtitle]="'Aquí puedes ver una lista de jugadores disponibles para contactar.'">
  <div actions>
    <app-button
      text="Filtrar"
      icon="fa-solid fa-filter"
      [hasIcon]="true"
      color="white"
      (clicked)="openModalFilters()" />
  </div>
  <h1 class="text-2xl font-medium tracking-wide mb-3 md:block hidden text-gray-200">Resultados</h1>
  @if (loading) {
    <p class="text-gray-200 text-xl">Obteniendo jugadores...</p>
  } @else if (players.content.length === 0) {
    <div>
      <span class="text-gray-500 text-sm">No se encontró ningun jugador.</span>
    </div>
  } @else {
    @if (filters.name || filters.city) {
      <div class="flex items-center gap-5">
        @if (filters.name) {
          <div class="bg-white px-2 py-1 rounded-lg border border-gray-300 text-sm">
            <p class="text-gray-600">
              Nombre:
              <span class="font-medium">{{ filters.name }}</span>
            </p>
          </div>
        }
        @if (filters.city) {
          <div class="bg-white px-2 py-1 rounded-lg border border-gray-300 text-sm">
            <p class="text-gray-600">
              Ciudad:
              <span class="font-medium">{{ filters.city }}</span>
            </p>
          </div>
        }
      </div>
    }
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
      @for (player of players.content; track player.id) {
        <app-player-card [player]="player" />
      }
    </div>

    <app-pagination
      [currentPage]="currentPage"
      [totalPages]="players.totalPages || 1"
      (pageChange)="changePage($event)"></app-pagination>
  }
</app-layout>
@if (showModalFilters) {
  <app-player-filter
    [showModalFilters]="showModalFilters"
    [formFilter]="formFilter"
    (cleanFilter)="cleanFilter()"
    (filter)="filter($event)"
    (closed)="closeModalFilters()"></app-player-filter>
}
