<section class="p-8 bg-gray-100 min-h-screen">
  <div class="max-w-6xl mx-auto space-y-8">
    @if (showHeader) {
      <header class="bg-white p-6 rounded-lg shadow-md">
        <h1 class="text-3xl font-bold text-primary">Equipos disponibles</h1>
        <p class="text-gray-600 mt-2">Aquí puedes ver una lista de equipos disponibles para fichar.</p>
      </header>
    }

    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      @for (team of teamList; track team.id) {
      <div
        class="p-6 bg-white rounded-xl shadow hover:scale-105 transition-all flex flex-col gap-2 items-center text-center">
        <img src="/assets/team.webp" alt="{{ team.name }}" class="w-32 h-32 object-cover rounded-2xl" />
        <h2 class="text-xl font-bold">{{ team.name }}</h2>
        <p>{{ team.neighborhood }}</p>
      </div>
      }
    </div>
  </div>
</section>