<section class="p-8 bg-gray-100 min-h-screen">
  <div class="space-y-8">
    @if (showHeader) {
    <header class="bg-white p-6 rounded-xl shadow-md">
      <h1 class="text-3xl font-bold text-primary tracking-tight">Equipos disponibles</h1>
      <p class="text-gray-600 mt-1 text-base">
        Aquí puedes ver una lista de equipos disponibles para fichar.
      </p>
    </header>
    }

    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      @for (team of teamList; track team.id) {
      <article (click)="openModal(team)"
        class="p-6 bg-white rounded-xl shadow-md hover:shadow-lg transition-all flex flex-col gap-2 items-center text-center cursor-pointer">
        <img [src]="getImageUrl(team)" alt="{{ team.name }}" class="w-32 h-32 object-contain rounded-2xl" />
        <h2 class="text-xl font-bold">{{ team.name }}</h2>
        <p>{{ team.neighborhood }}</p>
      </article>
      }
    </div>
  </div>
</section>

<!-- Modal -->
@if (showModal) {
<div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 px-3 backdrop-blur-sm">
  <article class="bg-white p-8 rounded-2xl shadow-xl w-full max-w-md space-y-6 relative animate-fade-in">
    <button (click)="closeModal()"
      class="absolute top-2 right-4 text-gray-400 hover:text-red-500 text-xl">&times;</button>
    <h2 class="text-xl font-bold text-center">Enviar solicitud para unirte a {{ selectedTeam?.name }}</h2>

    <form [formGroup]="applicationForm" (ngSubmit)="submitApplication()" class="space-y-4">
      <div class="mb-3">
        <label class="block mb-1 text-sm font-medium text-gray-700">Motivo de la solicitud</label>
        <textarea formControlName="description" rows="4"
          class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-primary"
          placeholder="¿Por qué deseas unirte al equipo?"></textarea>
        @if (applicationForm.get('description')?.invalid && applicationForm.get('description')?.touched) {
        <div class="text-sm text-red-600 mt-1">
          La descripción es requerida y debe tener entre 3 a 200 caracteres.
        </div>
        }
      </div>
      <button-action text="Enviar solicitud" [disabled]="applicationForm.invalid" color="primary" type="submit">
      </button-action>
    </form>
  </article>
</div>
}
@if (loading) {
  <loading-component text="Cargando equipos disponibles" />
}
