<section class="p-8 bg-gray-100 min-h-screen">
  <div class="max-w-6xl mx-auto space-y-8">
    <header class="bg-white p-6 rounded-xl shadow-md">
      <h1 class="text-2xl md:text-3xl font-bold text-primary">Perfil</h1>
      <p class="text-gray-600 mt-2 md:text-base text-sm">
        Aquí puedes ver tu perfil personal y modificar tu información.
      </p>
    </header>

    <div class="grid grid-cols-1 gap-6">
      <article
        class="flex md:items-center flex-col md:flex-row justify-between animate-slide-down p-6 bg-white rounded-xl shadow-md">

        <!-- INFO PRINCIPAL -->
        <div class="flex items-center gap-6">

          <div class="shrink-0 hidden md:block">
            <img src="/assets/profile_icon.webp" alt="{{ user.firstName }}"
              class="w-28 h-28 object-cover rounded-full ring-2 ring-primary/30" />
          </div>

          <div class="flex-1 space-y-2">
            <h2 class="text-2xl font-bold text-gray-800">
              {{ user.firstName }} {{ user.lastName }}
            </h2>
            <p class="text-gray-500 flex items-center gap-1 md:gap-2 text-sm md:text-base">
              <i class="fa-solid fa-location-dot text-primary w-5 text-center"></i>
              {{ user.city }}, Colombia
            </p>
          </div>
        </div>

        <!-- JUGADOR -->
        @if (isUserPlayer(user)) { @if (user.team) {
        <div class="shrink-0 md:w-32 md:h-32 w-20 h-20 hidden md:flex md:items-center">
          <img src="/assets/team.webp" alt="{{ user.team.name }}" class="object-cover" />
        </div>
        <div class="mt-2 flex md:hidden items-center gap-1 md:gap-2 text-sm md:text-base">
          <i class="fa-solid fa-shield text-primary w-5 text-center"></i>
          <p class="text-gray-500">{{ user.team.name }}</p>
        </div>
        }@else {
        <div class="mt-2 flex md:hidden items-center gap-1 md:gap-2 text-sm md:text-base">
          <i class="fa-solid fa-shield text-gray-500 w-5 text-center"></i>
          <p class="text-gray-500">Sin equipo</p>
        </div>
        } }

        <!-- ADMIN -->
        @if (isUserAdmin(user)) { @if (user.field) {
        <div class="shrink-0 md:w-32 md:h-32 w-20 h-20 hidden md:flex md:items-center">
          <img src="/assets/cancha.webp" alt="{{ user.field.name }}" class="object-cover" />
        </div>
        <div class="mt-2 flex md:hidden items-center gap-1 md:gap-2 text-sm md:text-base">
          <i class="fa-solid fa-futbol text-primary w-5 text-center"></i>
          <p class="text-gray-500">{{ user.field.name }}</p>
        </div>
        }@else {
        <div class="mt-2 flex md:hidden items-center gap-1 md:gap-2 text-sm md:text-base">
          <i class="fa-solid fa-futbol text-gray-500 w-5 text-center"></i>
          <p class="text-gray-500">Sin cancha</p>
        </div>
        } }
      </article>

      <!-- Datos del perfil -->
      <article class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 animate-slide-down p-6 bg-white rounded-xl shadow-md">
        <div class="space-y-1">
          <p class="text-sm text-gray-500 font-semibold">Edad</p>
          <p class="text-base text-gray-700">{{ user.age }} años</p>
        </div>
        <div class="space-y-1">
          <p class="text-sm text-gray-500 font-semibold">Celular</p>
          <p class="text-primary text-base font-medium flex items-center gap-1">
            <i class="fa-solid fa-mobile-screen-button"></i>
            +57 {{ user.cellphone }}
          </p>
        </div>
        <div class="space-y-1">
          <p class="text-sm text-gray-500 font-semibold">Documento</p>
          <p class="text-base text-gray-700 flex items-center">
            <span class="bg-gray-200 text-xs font-semibold px-2 py-0.5 rounded-full mr-1">{{ user.documentType }}</span>
            {{ user.documentNumber }}
          </p>
        </div>
        <div class="space-y-1">
          <p class="text-sm text-gray-500 font-semibold">Correo electrónico</p>
          <p class="text-base text-gray-700 flex items-center gap-2">
            <i class="fa-regular fa-envelope"></i>
            {{ user.email }}
          </p>
        </div>
      </article>
    </div>
  </div>
</section>