<app-layout [title]="'Inicio'" [subtitle]="'Aqui puedes revisar el número de reservas por estado.'">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <app-count-reservation-card [color]="'primary'" [title]="'Reservas Activas'" [value]="reservationsActive"
      [loading]="loading">
      <i class="fa-solid fa-calendar text-primary text-4xl"></i>
    </app-count-reservation-card>

    <app-count-reservation-card [color]="'dashblue'" [title]="'Reservas Finalizadas'" [value]="reservationsFinished"
      [loading]="loading">
      <i class="fa-solid fa-calendar-check text-dashblue text-4xl"></i>
    </app-count-reservation-card>

    <app-count-reservation-card [color]="'dashred'" [title]="'Reservas Canceladas'" [value]="reservationsCanceled"
      [loading]="loading">
      <i class="fa-solid fa-calendar-xmark text-dashred text-4xl"></i>
    </app-count-reservation-card>
  </div>
  <hr class="h-3 border-gray-600" />
  <section>
    <header class="flex justify-between items-center gap-2 mb-4">
      <h2 class="text-xl font-medium tracking-wide text-gray-200">
        <i class="fa-solid fa-folder text-yellow-500 mr-1"></i>
        Últimas reservas
      </h2>
      <app-button text="Ver todas" color="primary" [routerLink]="['/dashboard/reservation/list']" />
    </header>
    @if (loadingReservations) {
    <p class="text-gray-200 text-xl">Obteniendo reservas...</p>
    } @else if (lastThreeReservations.length === 0) {
    <div class="text-center flex justify-center items-center flex-col h-full mt-10">
      <span class="text-lg font-medium tracking-wide text-gray-500">No tienes reservas recientes.</span>
    </div>
    } @else {
    <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
      @for (reservation of lastThreeReservations; track reservation.id) {
      <app-reservation-card [viewAsField]="true" [reservation]="reservation" [reservationBy]="'field'"
        [listOfDetailsField]="true" [isUserAdmin]="isUserAdmin(user)" />
      }
    </div>
    }
  </section>
</app-layout>
