<nav
  class="bg-gray-900/80 backdrop-blur-md shadow-md w-full fixed top-0 left-0 z-50 transition-all duration-300">
  <div class="max-w-7xl mx-auto px-4 py-4 flex justify-between items-center">
    <picture>
      <img src="assets/logo_blanco.webp" alt="Logo PlayMatch" class="w-28 md:w-36 h-auto" />
    </picture>

    <div class="space-x-2 md:space-x-6 items-center">
      <a
        routerLink="/auth/login"
        routerLinkActive="text-primary"
        class="text-gray-300 hover:text-primary px-3 py-1 md:py-2 md:px-3 transition-colors duration-500">
        Iniciar sesión
      </a>
      <a
        routerLink="/auth/register"
        routerLinkActive="text-primary"
        class="text-gray-300 hover:bg-primary/30 bg-white/10 px-3 py-1 md:py-2 md:px-4 rounded-full transition-colors duration-500">
        Crea tu cuenta
      </a>
    </div>
  </div>
</nav>
