<nav class="bg-white shadow-md w-full fixed top-0 left-0 z-50">
  <div class="max-w-7xl mx-auto px-4 py-3 flex justify-between items-center">
    <a
      routerLink="/home"
      class="text-xl font-bold text-primary cursor-pointer hover:scale-110 transition-transform">
      <span>P</span>
      <span class="text-black">M</span>
    </a>

    <div class="space-x-6 items-center">
      <a
        routerLink="/login"
        routerLinkActive="text-primary font-semibold"
        class="text-gray-700 hover:text-primary">
        Iniciar sesión
      </a>
      <a
        routerLink="/register"
        routerLinkActive="text-primary font-semibold"
        class="text-gray-700 hover:text-primary">
        Registrarse
      </a>
    </div>
  </div>
</nav>
