<app-layout [title]="'Perfil'" [subtitle]="'Gestiona tu información personal'">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <article class="p-6 bg-white/5 rounded-md shadow-md">
      <div class="flex flex-col items-center justify-center gap-6 h-full">
        <button
          class="group cursor-pointer relative overflow-hidden rounded-full ring-2 ring-primary/30"
          (click)="openModal()">
          <img
            [src]="getImageUrl(user)"
            alt="Foto de {{ user.fullName }}"
            class="size-20 md:size-28 object-cover" />
          <div
            class="w-full h-full rounded-full bg-black/30 absolute inset-0 flex items-center justify-center flex-col gap-1 text-white text-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
            <i class="fa-solid fa-camera text-white text-3xl"></i>
            <span class="text-base leading-none">Cambiar imagen</span>
          </div>
        </button>

        <div class="space-y-1 text-center">
          <h2 class="text-xl md:text-2xl font-medium text-gray-200">
            {{ user.fullName }}
          </h2>
          <p class="text-gray-400 flex items-center gap-1 md:gap-2 text-sm md:text-base">
            <i class="fa-solid fa-location-dot text-primary text-center"></i>
            {{ user.city }}, Colombia
          </p>
        </div>
      </div>
    </article>

    <article class="p-6 bg-white/5 rounded-md shadow-md space-y-6">
      <h3 class="text-xl font-medium tracking-wide text-gray-200">Información adicional</h3>

      <div class="divide-y divide-gray-600">
        <div class="py-3">
          <p class="text-sm text-gray-400 font-medium tracking-wide">Correo electrónico</p>
          <p class="text-base text-gray-200 flex items-center gap-2">
            <i class="fa-regular fa-envelope text-primary"></i>
            {{ user.email }}
          </p>
        </div>
        <div class="py-3">
          <p class="text-sm text-gray-400 font-medium tracking-wide">Celular</p>
          <p class="text-base font-medium tracking-wide text-gray-200 flex items-center gap-2">
            <i class="fa-solid fa-mobile-screen-button text-primary"></i>
            {{ user.cellphone }}
          </p>
        </div>
        <div class="py-3">
          <p class="text-sm text-gray-400 font-medium tracking-wide">Rol</p>
          <p class="text-base text-gray-200 flex items-center gap-2">
            <i class="fa-solid fa-user-shield text-primary"></i>
            {{ user.role === userRole.FIELD_ADMIN ? 'Administrador de cancha' : 'Jugador' }}
          </p>
        </div>
      </div>
    </article>
  </div>
</app-layout>

<app-modal [open]="isOpen()" (closed)="onClosed()" [title]="'Actualizar foto de perfil'">
  <input
    type="file"
    accept="image/*"
    (change)="onFileSelected($event)"
    class="block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-medium tracking-wide file:bg-green-100 file:text-primary-700 hover:file:bg-green-200 file:cursor-pointer file:transition-colors" />

  @if (imagePreview) {
    <div class="mt-4 text-center">
      <p class="text-sm text-gray-500 mb-2">Previsualización:</p>
      <img
        [src]="imagePreview"
        alt="Preview"
        class="w-32 h-32 object-cover rounded-full mx-auto border border-gray-300" />
    </div>
  }

  <div class="flex justify-center mt-6 space-x-2">
    <app-button (clicked)="onClosed()" text="Cancelar" color="black"></app-button>
    <app-button
      (clicked)="onUploadImage()"
      color="primary"
      text="Actualizar imagen"
      [loading]="loading"
      [disabled]="!selectedFile"></app-button>
  </div>
</app-modal>
