<footer class="py-8 sm:py-12 bg-slate-100">
  <div class="max-w-4xl mx-auto px-4">
    <div class="text-center">
      <h3
        class="text-base sm:text-lg font-semibold text-slate-900 mb-2 flex justify-center items-center gap-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-circle-help w-4 h-4 sm:w-5 sm:h-5 text-emerald-600">
          <circle cx="12" cy="12" r="10"></circle>
          <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
          <path d="M12 17h.01"></path>
        </svg>
        ¿Necesitas ayuda?
      </h3>
      <p class="text-slate-700 mb-4 text-sm sm:text-base">
        Te ayudamos con la configuración inicial.
      </p>
      <div class="flex justify-center">
        <a
          href="mailto:soporte@agendameunturno.com"
          class="inline-flex items-center gap-2 text-emerald-600 font-medium bg-emerald-50 rounded-full px-3 sm:px-4 py-2 hover:bg-emerald-100 transition text-sm sm:text-base">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-mail w-3 h-3 sm:w-4 sm:h-4">
            <rect width="20" height="16" x="2" y="4" rx="2"></rect>
            <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
          </svg>
          <span class="break-all sm:break-normal">{{ 'correo@playmatch.com' }}</span>
        </a>
      </div>
    </div>
  </div>
</footer>
