<footer class="bg-secondary/30 border-t border-gray-200">
  <div class="max-w-7xl mx-auto px-4 py-12">
    <div class="text-center">
      <div class="flex items-center justify-center space-x-2 mb-4">
        <img src="assets/icon_playmatch.webp" alt="Logo PlayMatch" class="w-8 h-auto" />
        <span class="text-xl font-bold text-gray-900">PlayMatch</span>
      </div>
      <p class="text-gray-600 mb-6">
        La plataforma más fácil para gestionar las reservas de tu negocio
      </p>
      <div
        class="border-t border-gray-200 pt-6 flex flex-col md:flex-row gap-4 items-center justify-center md:justify-between">
        <span class="text-sm text-gray-500">
          Hecho con 🖤 por
          <a href="https://luisgomezdev.vercel.app/" target="_blank" class="underline">
            Luis Gómez
          </a>
        </span>
        <span class="text-sm text-gray-500 flex-1">
          © 2025 PlayMatch. Todos los derechos reservados
        </span>
        <div class="flex items-center gap-4">
          <a href="https://github.com/luisgomezadev" target="_blank">
            <i class="fa-brands fa-github text-xl"></i>
          </a>
          <a href="https://www.linkedin.com/in/luisgomezdev/" target="_blank">
            <i class="fa-brands fa-linkedin text-xl"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
