<section class="mt-4 ml-4 bg-gray-100 h-[calc(100%-16px)] rounded-md overflow-y-auto">
  <div class="space-y-6 max-w-7xl mx-auto p-4">
    <div class="flex justify-between items-center gap-4 px-6">
      <h2 class="text-xl md:text-2xl font-bold text-primary">
        Información de tu cancha
      </h2>
      <button-action text="Volver" color="transparent" icon="fa-solid fa-backward" [hasIcon]="true" (clicked)="goBack()">
      </button-action>
    </div>
    @if (loadingForm) {
    <loading-component text="Cargando información de la cancha" />
    } @else {
    <form [formGroup]="fieldForm" (ngSubmit)="onSubmit()" class="p-6 space-y-6">
      <div>
        <label class="block text-gray-700 font-semibold mb-1">Nombre</label>
        <input formControlName="name" type="text" placeholder="Ingrese el nombre de la cancha"
          class="w-full px-4 py-2 rounded-lg border border-gray-300 bg-gray-50 focus:outline-none focus:ring-2 focus:ring-green-400"
          required />
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          <label class="block text-gray-700 font-semibold mb-1">Ciudad</label>
          <input formControlName="city" type="text" placeholder="Ingrese la ciudad"
            class="w-full px-4 py-2 rounded-lg border border-gray-300 bg-gray-50 focus:outline-none focus:ring-2 focus:ring-green-400"
            required />
        </div>
        <div>
          <label class="block text-gray-700 font-semibold mb-1">Dirección</label>
          <input formControlName="address" type="text" placeholder="Ingrese la dirección de la cancha"
            class="w-full px-4 py-2 rounded-lg border border-gray-300 bg-gray-50 focus:outline-none focus:ring-2 focus:ring-green-400"
            required />
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <div>
          <label class="block text-gray-700 font-semibold mb-1">Precio por hora</label>
          <input formControlName="hourlyRate" type="number" step="1" min="0"
            placeholder="Ingrese el precio por hora"
            class="w-full px-4 py-2 rounded-lg border border-gray-300 bg-gray-50 focus:outline-none focus:ring-2 focus:ring-green-400"
            required />
        </div>
        <div>
          <label class="block text-gray-700 font-semibold mb-1">Hora de apertura</label>
          <input formControlName="openingHour" type="time"
            class="w-full px-4 py-2 rounded-lg border border-gray-300 bg-gray-50 focus:outline-none focus:ring-2 focus:ring-green-400"
            required />
        </div>
        <div>
          <label class="block text-gray-700 font-semibold mb-1">Hora de cierre</label>
          <input formControlName="closingHour" type="time"
            class="w-full px-4 py-2 rounded-lg border border-gray-300 bg-gray-50 focus:outline-none focus:ring-2 focus:ring-green-400"
            required />
        </div>
      </div>
      @if (editing) {
      <div>
        <label class="block text-gray-700 font-semibold mb-1">Estado</label>
        <select formControlName="status"
          class="w-full px-4 py-2 rounded-lg border border-gray-300 bg-gray-50 focus:outline-none focus:ring-2 focus:ring-green-400"
          required>
          <option value="ACTIVE">Activo</option>
          <option value="INACTIVE">Inactivo</option>
        </select>
      </div>
      }

      <div class="flex justify-end w-full">
        <button-action [text]="editing ? 'Actualizar cancha' : 'Registrar cancha'" color="primary" [loading]="loading"
          type="submit">
        </button-action>
      </div>
    </form>
    }
  </div>
</section>
