<div class="min-h-screen flex items-center flex-col justify-center bg-gray-100">
  <div class="bg-white p-8 rounded-xl shadow-xl w-full max-w-3xl">
    <h2 class="text-2xl font-bold text-center mb-6 text-gray-800">Registrate</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="grid grid-cols-2 gap-4">
      <div class="mb-4">
        <label class="block text-sm font-medium mb-1">Nombre</label>
        <input type="text" formControlName="firstName"
          class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400" />
      </div>
      <div class="mb-4">
        <label class="block text-sm font-medium mb-1">Apellido</label>
        <input type="text" formControlName="lastName"
          class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400" />
      </div>
      <div class="mb-4">
        <label class="block text-sm font-medium mb-1">Ciudad</label>
        <input type="text" formControlName="city"
          class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400" />
      </div>
      <div class="mb-4">
        <label class="block text-sm font-medium mb-1">Edad</label>
        <input type="number" formControlName="age"
          class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400" />
      </div>
      <div class="mb-4">
        <label class="block text-sm font-medium mb-1">Tipo de Documento</label>
        <input type="text" formControlName="documentType"
          class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400" />
      </div>
      <div class="mb-4">
        <label class="block text-sm font-medium mb-1">Número de Documento</label>
        <input type="text" formControlName="documentNumber"
          class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400" />
      </div>
      <div class="mb-4">
        <label class="block text-sm font-medium mb-1">Correo electrónico</label>
        <input type="text" formControlName="email"
          class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400" />
      </div>
      <div class="mb-6">
        <label class="block text-sm font-medium mb-1">Contraseña</label>
        <input type="password" formControlName="password"
          class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400" />
      </div>
      <button type="submit" [disabled]="loading || !registerForm.valid"
        class="w-full col-span-2 bg-primary hover:opacity-80 cursor-pointer text-white font-semibold py-2 px-4 rounded-lg transition h-10 duration-200 disabled:opacity-50 disabled:cursor-not-allowed">
        @if (loading) {
        <div class="flex justify-center items-center">
          <svg class="animate-spin h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"></path>
          </svg>
        </div>
        } @else {
        <span>Registrar</span>
        }
      </button>
    </form>
    <div class="mt-4 text-center">
      <p class="text-sm text-gray-600">¿Ya tienes cuenta? <a routerLink="/home"
          class="text-blue-500 hover:underline cursor-pointer">Inicia sesión</a></p>
    </div>
  </div>
</div>