<app-navbar />
<section class="relative h-auto md:h-screen w-full pt-32 md:py-12 bg-white">
  <div
    class="flex items-center gap-10 h-full justify-center px-10 md:px-0 max-w-6xl mx-auto relative z-20">
    <div class="flex flex-col justify-center items-center text-center motion-preset-slide-up motion-duration-1000">
      <h1
        class="text-4xl md:text-[4rem] font-bold md:font-extrabold text-primary mb-4 leading-none md:leading-[1.1]">
        Encuentra, reserva y juega en canchas sintéticas fácilmente.
      </h1>
      <h2 class="text-xl md:text-[2rem] text-slate-700 mb-5 md:mb-10 md:leading-[1.1]">
        Sencilla, ágil y pensada para ti, la forma más fácil de reunir jugadores y encontrar dónde
        jugar.
      </h2>
      <!-- <h3 class="text-sm md:text-xl text-black/90 max-w-xl">
        Importante: aplicación en desarrollo. Las primeras peticiones pueden tardar un poco más de
        lo normal ya que está alojado en un servidor gratuito.
      </h3> -->
    </div>
  </div>
</section>
<!-- <app-fields-list [showHeader]="false"></app-fields-list> -->
<section class="relative bg-slate-50 text-slate-700 py-28 md:py-20 px-5 md:px-0">
  <div class="min-h-fit w-full max-w-5xl mx-auto">
    <div class="flex items-center justify-between gap-x-20 gap-y-10 flex-col md:flex-row">
      <div class="hidden justify-center items-center md:flex">
        <img src="assets/icon.webp" alt="Logo" class="w-56 h-auto" />
      </div>
      <div class="flex-1">
        <h1 class="text-4xl font-bold mb-4">¿Qué es Play Match?</h1>
        <p class="text-base md:text-xl mb-2 text-pretty leading-relaxed">
          Play Match es una aplicación diseñada para ayudarte a
          <strong>reservar canchas sintéticas</strong>
          , encontrar jugadores cuando te hagan falta y también
          <strong>registrar tu propia cancha</strong>
          para que otros usuarios puedan reservarla fácilmente.
        </p>
        <p class="text-base md:text-xl mb-2 text-pretty leading-relaxed">
          Con
          <strong>Play Match</strong>
          , simplificas la organización de tus partidos: evita chats interminables y mantén el
          control de tus reservas en un solo lugar. Ya seas jugador o dueño de una cancha, la
          plataforma está pensada para que conectes con otros de forma rápida, segura y eficiente.
        </p>
      </div>
    </div>
  </div>
</section>
<app-footer />
<app-popup />
