<section class="p-8 bg-gray-100 min-h-screen">
  <div class="space-y-8">
    <header class="bg-white p-6 rounded-xl shadow-md">
      <h1 class="text-3xl font-bold text-primary tracking-tight">Menú</h1>
      <p class="text-gray-600 mt-1 text-base">
        Aquí puedes ver todas las opciones que tienes como
        {{
        role === "FIELD_ADMIN"
        ? "administrador de cancha"
        : role === "PLAYER"
        ? "jugador"
        : "invitado"
        }}.
      </p>
    </header>
    <article>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        @for (link of links; track $index) {
        <a [routerLink]="'../' + link.link"
          class="bg-white p-4 rounded-lg shadow hover:shadow-lg transition duration-300 flex flex-col items-center text-center animate-slide-down text-gray-600">
          <i [class]="link.iconClass"></i>
          <h2 class="text-lg mt-2">
            {{ link.name }}
          </h2>
        </a>
        }
        <a (click)="logout()"
          class="bg-white p-4 rounded-lg shadow hover:shadow-lg transition duration-300 flex flex-col items-center text-center animate-slide-down text-red-600">
          <i class="fa-solid fa-right-from-bracket"></i>
          <h2 class="text-lg mt-2">
            Cerrar sesión
          </h2>
        </a>
      </div>
    </article>
  </div>
</section>
