<app-navbar />
<section
  class="min-h-screen pt-24 bg-gradient-to-br from-slate-50 to-slate-100 text-slate-800 z-30 h-screen px-8 w-full flex flex-col items-center justify-center relative">
  <div class="w-full max-w-md space-y-6 motion-preset-slide-up-sm motion-duration-1000 bg-white rounded-3xl shadow-2xl overflow-hidden border border-slate-200/50 p-8">
    <header class="text-center mb-8">
      <h1 class="text-2xl sm:text-3xl font-bold text-slate-900">Iniciar sesión</h1>
      <p class="text-sm text-slate-500 mt-2">Ingresá a tu cuenta para gestionar tus reservas.</p>
    </header>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      class="space-y-4">
      <div class="mb-4">
        <label class="block text-sm tracking-wide mb-1" for="email">Correo electrónico</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          class="w-full px-4 py-3 text-slate-700 bg-transparent border border-slate-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-green-400" />
      </div>
      <div class="mb-6">
        <label class="block text-sm tracking-wide mb-1" for="password">Contraseña</label>
        <div class="relative">
          <input
            id="password"
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
            class="w-full px-4 py-3 text-slate-700 bg-transparent border border-slate-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-green-400" />
          <button
            type="button"
            (click)="togglePasswordVisibility()"
            class="absolute top-1/2 right-3 transform -translate-y-1/2 text-gray-600 hover:text-gray-800"
            tabindex="-1">
            @if (showPassword) {
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.542-7a10.038 10.038 0 013.642-5.042M6.18 6.18l11.64 11.64M9.88 9.88a3 3 0 004.24 4.24" />
              </svg>
            } @else {
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M2.458 12C3.732 7.943 7.522 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.478 0-8.268-2.943-9.542-7z" />
              </svg>
            }
          </button>
        </div>
      </div>
      <div>
        <button
          type="submit"
          class="w-full mt-2 bg-gradient-to-r from-slate-700 to-primary text-white py-4 rounded-md hover:scale-105 transition-all duration-300 shadow-lg">
          @if (loading) {
            <app-loading-text-component [text]="'Ingresando'" />
          } @else {
            Iniciar sesión
          }
        </button>
      </div>
    </form>
    <hr class="border-slate-200 my-3" />
    <div class="mt-4 text-center">
      <span class="text-sm text-slate-500">
        ¿No tienes una cuenta?
        <a routerLink="/register" class="text-slate-700 hover:underline cursor-pointer">
          Regístrate
        </a>
      </span>
    </div>
  </div>
</section>
