@tailwind base;
@tailwind components;
@tailwind utilities;

.swal-cancel-btn {
  @apply bg-transparent border-2 border-primary hover:bg-slate-100 transition-all text-primary font-semibold py-2 px-4 rounded hover:scale-105;
}

.swal-confirm-btn {
  @apply bg-primary mr-4 border-2 border-primary hover:opacity-90 transition-all text-white font-semibold py-2 px-4 rounded hover:scale-105;
}

body {
  box-sizing: border-box;
}