@if (loading) {
  <app-loading-component text="Cargando dashboard" />
} @else {
  <!-- Menu de navegación en vista movil -->
  <nav
    class="md:hidden bg-white/95 backdrop-blur-md border-t border-slate-200/50 shadow-lg flex justify-center items-center fixed bottom-0 left-0 right-0 z-50">
    @for (link of links; track $index) {
      @if (link.viewMovil) {
        <a
          [routerLink]="link.link"
          routerLinkActive="text-green-500 border-t-2 border-primary"
          class="flex-1 text-xs text-slate-800 flex flex-col justify-center items-center gap-1 py-4 px-2">
          <i [class]="link.iconClass"></i>
          <span>{{ link.name }}</span>
        </a>
      }
    }
  </nav>

  <!-- Menu de navegación en vista escritorio -->
  <aside
    class="z-40 top-0 left-0 max-w-60 bg-slate-50 text-slate-800 transform transition-transform duration-300 h-full fixed shadow-md hidden md:flex flex-col p-4 space-y-6">
    <div class="p-6 text-center hidden md:block shadow-sm">
      <img src="/assets/logo_sin_fondo.webp" alt="Logo PlayMatch" />
    </div>
    <nav class="mt-6 flex-1">
      <ul class="flex flex-col gap-4 md:pt-0">
        @for (link of links; track $index) {
          @if (link.viewDesktop) {
            <li>
              <a
                (click)="closeSidebar()"
                [routerLink]="link.link"
                routerLinkActive="active"
                class="flex items-center gap-3 py-2 px-4 text-slate-800 rounded-lg hover:bg-slate-100 transition-colors duration-300">
                <i class="w-6" [class]="link.iconClass"></i>
                <span>{{ link.name }}</span>
              </a>
            </li>
          }
        }
        <li>
          <a
            (click)="closeSidebar()"
            routerLink="profile"
            routerLinkActive="active"
            class="flex items-center gap-3 py-2 px-4 text-slate-800 rounded-lg hover:bg-slate-100 transition-colors duration-300">
            <i class="w-6" class="fa-solid fa-user w-6"></i>
            <span>Perfil</span>
          </a>
        </li>
      </ul>
    </nav>
    <hr class="border-slate-200" />
    <button
      (click)="closeSidebar()"
      (click)="logout()"
      class="flex items-center gap-3 py-2 px-4 rounded-lg text-slate-800 hover:bg-slate-100 transition-colors duration-300 cursor-pointer w-full">
      <i class="fa-solid fa-right-from-bracket w-6"></i>
      <span>Cerrar sesión</span>
    </button>
  </aside>

  <main class="w-full">
    <div class="pl-0 md:pl-60 pb-16 md:pb-0">
      <router-outlet></router-outlet>
    </div>
  </main>
}
