<app-layout
  [title]="editing ? 'Editar cancha' : 'Registrar cancha'"
  [subtitle]="editing ? 'Actualiza los datos de tu cancha' : 'Ingresa la información de tu cancha.'"
  [loading]="loadingForm">
  <div actions>
    <app-button
      text="Volver"
      color="transparent"
      icon="fa-solid fa-arrow-left"
      [hasIcon]="true"
      (clicked)="goBack()" />
  </div>
  <div loading>
    <p class="text-gray-200 text-xl">Cargando información de la cancha...</p>
  </div>
  <form [formGroup]="fieldForm" (ngSubmit)="onSubmit()" class="space-y-6">
    <div>
      <label class="block text-gray-200 tracking-wide mb-1" for="name">Nombre</label>
      <input
        id="name"
        formControlName="name"
        type="text"
        placeholder="Ingrese el nombre de la cancha"
        class="w-full px-3 py-1 rounded-lg border border-gray-300 bg-gray-50 focus:outline-none focus:ring-2 focus:ring-green-400"
        required />
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <label class="block text-gray-200 tracking-wide mb-1" for="city">Ciudad</label>
        <input
          id="city"
          formControlName="city"
          type="text"
          placeholder="Ingrese la ciudad"
          class="w-full px-3 py-1 rounded-lg border border-gray-300 bg-gray-50 focus:outline-none focus:ring-2 focus:ring-green-400"
          required />
      </div>
      <div>
        <label class="block text-gray-200 tracking-wide mb-1" for="address">
          Dirección
        </label>
        <input
          id="address"
          formControlName="address"
          type="text"
          placeholder="Ingrese la dirección de la cancha"
          class="w-full px-3 py-1 rounded-lg border border-gray-300 bg-gray-50 focus:outline-none focus:ring-2 focus:ring-green-400"
          required />
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <div>
        <label class="block text-gray-200 tracking-wide mb-1" for="hourlyRate">
          Precio por hora
        </label>
        <input
          id="hourlyRate"
          formControlName="hourlyRate"
          type="number"
          step="1"
          min="0"
          placeholder="Ingrese el precio por hora"
          class="w-full px-3 py-1 rounded-lg border border-gray-300 bg-gray-50 focus:outline-none focus:ring-2 focus:ring-green-400"
          required />
      </div>
      <div>
        <label class="block text-gray-200 tracking-wide mb-1" for="openingHour">
          Hora de apertura
        </label>
        <input
          id="openingHour"
          formControlName="openingHour"
          type="time"
          class="w-full px-3 py-1 rounded-lg border border-gray-300 bg-gray-50 focus:outline-none focus:ring-2 focus:ring-green-400"
          required />
      </div>
      <div>
        <label class="block text-gray-200 tracking-wide mb-1" for="closingHour">
          Hora de cierre
        </label>
        <input
          id="closingHour"
          formControlName="closingHour"
          type="time"
          class="w-full px-3 py-1 rounded-lg border border-gray-300 bg-gray-50 focus:outline-none focus:ring-2 focus:ring-green-400"
          required />
      </div>
    </div>
    @if (editing) {
      <div>
        <label class="block text-gray-200 tracking-wide mb-1" for="status">
          Estado
        </label>
        <select
          id="status"
          formControlName="status"
          class="w-full px-3 py-1 rounded-lg border border-gray-300 bg-gray-50 focus:outline-none focus:ring-2 focus:ring-green-400"
          required>
          @for (status of statusOptions; track $index) {
            <option [value]="status.value">{{ status.label }}</option>
          }
        </select>
      </div>
    }

    <div class="flex justify-end w-full">
      <app-button
        [text]="editing ? 'Actualizar cancha' : 'Registrar cancha'"
        color="primary"
        [loading]="loading"
        type="submit"></app-button>
    </div>
  </form>
</app-layout>
